<div class = "fishbox span6 offset3 text-center">

	<h1 class="custom-h1">

		Hello world

	</h1>
	<br><br/>
	<h2>

		The folder index.html.erb is in views -> static_pages

	</h2>

	<%= link_to 'Launch', '#', :class => 'btn-large btn btn-info' %>

</div>