<div class = "fishbox span7 offset3">

	<h1 class="custom-h1 text-center">

		LJ: "Turn your music downnnn!"

	</h1>
	<br><br />
	<h2>

		Question: What did Ted reply to LJ?
		<br />
		<br />
		"Little John, turn down for whatttt? <br />
		I'm just getting started."
		<br />
		<br />
		This file index.html.erb is in views -> static_pages

	</h2>

	<%= link_to 'Launch', new_pic_path, :class => 'btn-large btn btn-info' %>

</div>