<div class = "fishbox span7 offset3">

	<h1 class="custom-h1 text-center">

		LJ: "Hello World!"

	</h1>
	<br><br/>
	<h2>

		Question: What did Ted reply to LJ?
		<br/>
		"Little John, turn down for whatttt? I'm just getting started."
		<br/>
		<br/>
		The folder index.html.erb is in views -> static_pages

	</h2>

	<%= link_to 'Launch', '#', :class => 'btn-large btn btn-info' %>

</div>